//Import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

//Global reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    //Root font size
    font-size: 62.5%; //Equates to 10px
}

body {
    //Set overall grid
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

//Main expense calculator container
.expense-container {
    //Set position of calculator
    grid-column: 4 / 10;
    grid-row: 2 / 12;
    //Define grid
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, min-content);
    grid-row-gap: 2rem;
    box-shadow: 0 .1rem .1rem rgba(0, 0, 0, 1);
}