//Header section overall styling
.header-section {
    //Header position
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    //Set grid
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    // padding: 1rem;
    background-color: rgb(245, 243, 243);

    //Current balance
    &__cur {
        grid-column: 1 / 5;
        box-shadow: 0 .1rem .1rem .1rem rgba(0, 0, 0, 0.5);
        padding: 1rem;

    }

    //Budget
    &__budg {
        grid-column: 5 / 9;
        padding: 1rem;
        box-shadow: 0 .1rem .1rem .1rem rgba(0, 0, 0, 0.5);

    }

    //Budget status
    &__stat {
        grid-column: 9 / -1;
        padding: 1rem;
        box-shadow: 0 .1rem .1rem .1rem rgba(0, 0, 0, 0.5);

    }
}