//Income section styling
.income {
    //Grid position
    grid-row: 3 / 4;
    grid-column: 1 / 7;
    text-align: center;

    //Heading
    &__heading {
        margin-bottom: 2rem;
    }

    //Items container
    &__items {
        //Set grid
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    //Income item
    &__item {
        text-align: left;
        grid-column: 1 / -1;

        box-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.5);
        //Set item grid
        display: grid;
        grid-template-columns: 2rem repeat(11, 1fr);
        grid-template-rows: 3rem;
        align-items: center;

        //Income icon
        &--pos {
            //Align symbol in center
            display: flex;
            justify-content: center;
            align-items: center;
            //Styles for icon box
            background-color: green;
            grid-column: 1 / 2;
            height: 100%;
            color: white;
            font-size: 2rem;

        }

        //Name of income
        &--name {
            display: inline-block;
            grid-column: 3 / 9;

        }

        &--cur {
            display: inline-block;
            grid-column: 9 / 10;
        }

        //Amount of income
        &--am {
            display: inline-block;
            grid-column: 10 / 11;
        }

        //Delete button
        &--del {
            display: inline-block;
            grid-column: 12 / 13;
            color: gold;
            font-size: 2rem;
            cursor: pointer;

        }
    }
}