//New transaction section styling
.new-transaction {
    //Set grid position
    grid-row: 7 / 8;
    grid-column: 3 / 11;
    
    &__heading {
        text-align: center;
    }

    &__form {
        //Apply form grid
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(7, 1fr);

        //Transaction name label
        &--namelab {
            grid-column: 1 / -1;
            grid-row: 1 / 2;

        }

        //Transaction name input
        &--namein {
            grid-column: 1 / -1;
            grid-row: 2 / 3;
            width: 100%

        }

        //Transaction amount label
        &--amlab {
            grid-column: 1 / -1;
            grid-row: 3 / 4;
            width: 100%

        }

        //Transaction amount input
        &--amin {
            grid-column: 1 / -1;
            grid-row: 4 / 5;
            width: 100%

        }

        //Transaction type label
        &--typelab {
            grid-column: 1 / -1;
            grid-row: 5 / 6;
            width: 100%

        }

        //Transaction type input
        &--typein {
            grid-column: 1 / -1;
            grid-row: 6 / 7;
            width: 100%

        }

        //Enter transaction button
        &--btn {
            grid-column: 1 / -1;
            grid-row: 7 / 8;
            width: 100%;
        }
    }
}